<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="qlchvlxd.Properties.Settings.QLCHVLXDConnectionString"
            connectionString="Data Source=Cuong-PC;Initial Catalog=QLCHVLXD;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>